@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbars */
html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

html::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

/* Fonts */
@font-face {
  font-family: "Montserrat";
  src: url("/src/assets/fonts/Montserrat.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("/src/assets/fonts/Roboto.ttf") format("truetype");
  font-weight: 400;
}

/* Cursor Color */
html {
  --cursor-color: #f2613f;
}

/* Text Selectable */
* {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* Excessive Smooth Scrolling */
html {
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  overflow-y: scroll; /* Ensure scrollbar is always visible */
}
